.Right-side-bar{
	.icon{
		color: rgb(155, 156, 158);
		margin: 0rem 1rem 0rem 0rem;
		
		font-size: 1rem;
		:hover{
			background-color: #e7eaef;
			padding: 0.4rem;
		}	
	}
    .container {
        display: flex;
        flex-direction: row;
        height: 70vh;
		border-top: #c1c1c1 1px solid;
      }
      
       .left-col {
         
         display: flex;
         justify-content: center;
         align-items: center;
         
       }
      
      .center-col {
        flex: 1;
        background: #f7f8fa;
        overflow-y: scroll;
		ul{
			padding:0px;
			margin: 0rem 1rem;
			.message-card{
				margin: 1rem 0rem;
				.ant-card-head{
					padding:0px;
					.ant-card-head-title{
						padding:0px;
						.message-card-head{
						padding: 1.5rem 1.5rem 1rem 1.5rem;
						display:flex;
						justify-content:space-between;
						.message-card-userinfo{
							p{
								margin: 0px;
							}
							h4{
								margin:0px;
							}
							display:flex;
							div{
								margin-left: 1rem;
							}
							align-items:center;
						}
						.message-card-msginfo{
							display:flex;
							p{
								margin:0rem 1rem 0rem 0rem;
							}
							.icon{
								margin:0px;
							}
						}
					}
					}
				}
				.ant-card-bordered{
					border-radius: 25px;
				}
				.ant-card-body{
					.message-card-body{
						padding: 16px 24px;
						.ant-btn{
							
							i{
								margin-right:0.5rem;
							}
						}
					}
					
					
				}
			}
		}
		.comment-card{
			display: flex;
			align-items:center;
			.col{
				padding-right:0.6rem;
				.pd-1{
					padding-right:0.6rem;
				}
				.ant-tag{    
					border-radius: 25px;
					padding: 0.2rem 0.5rem;
					background-color: rgb(255, 255, 255)
				}
			}
		}
      }
      
       .right-col {
    
         display: flex;
         justify-content: center;
         align-items: center;
         background: #e7e7e7;
       }
	   .head{
			margin: 0.3rem 1rem;
			.actions{
				padding: 1rem 0rem 0rem 0rem;
				display:flex;
				justify-content: space-between;
				.tags{
					display:flex;
				}
				.head-actions{
					display: flex;
				}
			}
			.regarding{
				display:flex;
				align-items:center;
				padding: 01rem 0rem 0.6rem 0rem;
				
				h4{
					font-weight: 600;
					margin:0px;
					margin-right: 1rem;
					font-size: 23px;
					color:#3e3e40;;
				}
				span{
					border: 1px solid;
					font-weight : 500;
					font-size: 1rem;
					padding:0rem 0.5rem;
				}
			}
			
	   }
	   
	   .add-comment{
			display:flex;
			padding:1rem;
			justify-content:space-between;
			border-top : #c1c1c1 1px solid;
			align-items: center;
			.ant-avatar{
				margin-right:0.5rem;
			}	
			.ant-input-affix-wrapper{
				.ant-input{
					border-radius:25px;
				}
				.ant-input-suffix{
					i{
						margin-right:0.5rem;
					}
				}
			}
			
	   }
	   
}